<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to my first django project</h1>
<form action="analyze/" method="get">

    <textarea name="text" style="width:721px; height:93px;"></textarea>
    <br><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremove">New Line Remover<br>
     <input type="checkbox" name="extraspaceremove">ExtraSpace Remover<br>
    <button type="checkbox">Analyze Text</button>
    <br><br>
</form>
</body>
</html>